.app {
  background-color: #2F2F2F;
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 100%;
  max-width: 520px;
  pointer-events: none;
  display: block;
}

.content {
  color: #ffffff;
  font-size: 80%;
  margin-left: 18.25%;
  margin-right: 18.25%;
}

.content a {
  color: inherit;
}

@media screen and (min-width: 520px) {
  .content {
    font-size: 16px;
    margin-left: 94px;
  }
}

.link {
  color: inherit;
  display: inline-block;
}
